<div>
    <mat-toolbar style="height: fit-content; background-color: white;">
        <table width="100%">
            <tbody>
                <tr>
                    <td rowspan="3">
                        <img src="assets/Images/logo3.jpg" alt="Image 1" style="height:58px;width:278px;" />
                    </td>
                    <td></td>
                    <td>
                        <span id="HeaderText">Welcome</span>
                    </td>
                    <td>
                        <span id="headerText1">{{name}}</span>
                    </td>
                    <td rowspan="3" vAlign="top" align="right">
                        <img src="assets/Images/sublogo.gif" alt="Image 2" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td cellpadding="0" cellspacing="0">
                        <span id="HeaderText">Date</span>
                    </td>
                    <td>
                        <span id="headerText1">{{formattedDate}}</span>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <span id="HeaderText">Time</span>
                    </td>
                    <td>
                        <span id="headerText1">{{formattedTime}}</span>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </mat-toolbar>
</div>
<mat-divider></mat-divider>