<div class="row d-flex mt-2" style="width: 100%;">
    <div class="col">
        <!-- <h1 class="text-white mb-4">Apply for a job</h1> -->
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">

                <!-- Age panel tab -->
                <h3 style="color: darkblue; font-weight: bold;">Age Panel</h3>

                <div class="row align-items-center">
                    <div class="col-md-2 py-1" style="background-color: lightsteelblue;">
                        <label for="">Date of Birth</label>
                    </div>
                    <div class="col-md-2 py-1">
                        <input type="date" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-2 py-1" style="background-color: lightsteelblue;">
                        <label for="">Year of Birth</label>
                    </div>
                    <div class="col-md-2 py-1">
                        <input type="text" class="form-control form-control-sm" />
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-2 py-1" style="background-color: lightsteelblue;">
                        <label for="">Age (Year/Month)</label>
                    </div>
                    <div class="col-md-1 py-1">
                        <input type="text" class="form-control form-control-sm" />
                    </div> /
                    <div class="col-md-1 py-1">
                        <input type="text" class="form-control form-control-sm" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-secondary btn-sm">Reset</button>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-2 py-1" style="background-color: lightsteelblue;">
                        <label for="">Age Range (From -To)</label>
                    </div>
                    <div class="col-md-1 py-1">
                        <input type="text" class="form-control form-control-sm" />
                    </div> -
                    <div class="col-md-1 py-1">
                        <input type="text" class="form-control form-control-sm" />
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-secondary btn-sm">Reset</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>