<div class="row d-flex mt-2" style="width: 100%;">
    <div class="col">
        <!-- <h1 class="text-white mb-4">Apply for a job</h1> -->
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <label for="">Eform File Upload</label>
                    </div>
                    <div class="col-md-4">
                        <input class="form-control form-control-sm" id="formFileLg" type="file" />
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-secondary">Populate
                            Eform</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>