<div class="row d-flex mx-2 my-2">
    <div class="col">
        <!-- <h1 class="text-white mb-4">Apply for a job</h1> -->
        <div class="card" style="border-radius: 15px;">
            <div class="card-body">

                <!-- Age panel tab -->
                <h3 style="color: darkblue; font-weight: bold;">File Upload</h3>

                <div class="row align-items-center">
                    <div class="col-md-4 my-1" style="background-color: lightsteelblue;">
                        <label for="">Allowed File Type</label>
                    </div>
                    <div class="col-md-2 my-1">
                        jpg,jpeg,gif
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 my-1" style="background-color: lightsteelblue;">
                        <label for="">Individual File Size</label>
                    </div>
                    <div class="col-md-2 my-1">
                        200 KB
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 my-1" style="background-color: lightsteelblue;">
                        <label for="">Total File Size</label>
                    </div>
                    <div class="col-md-2 py-1">
                        1024 KB
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 my-1" style="background-color: lightsteelblue;">
                        <label for="">File Type</label>
                    </div>
                    <div class="col-md-6">
                        <select #dept class="form-control">
                            <option selected value="">Select</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 my-1" style="background-color: lightsteelblue;">
                        <label for="">File Sub Type</label>
                    </div>
                    <div class="col-md-6 mt-1">
                        <select #dept class="form-control">
                            <option selected value="">Select</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                        </select>
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 my-1" style="background-color: lightsteelblue;">
                        <label for="">File Upload</label>
                    </div>
                    <div class="col-md-6 mt-1">
                        <input class="form-control form-control-sm" id="formFileLg" type="file" />
                    </div>
                </div>

                <div class="row align-items-center">
                    <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                        <label for="">File Description</label>
                    </div>
                    <div class="col-md-6 py-1">
                        <textarea class="form-control rounded-0" id="" rows="3"></textarea>
                    </div>
                    <div class="col-md-2 py-1">
                       Character Count Remaining : 100
                    </div>
                </div>

                <div class="px-5 py-4" align="center">
                    <button class="btn btn-secondary btn-sm">Upload</button>
                    <button class="btn btn-secondary btn-sm ms-2">Close</button>
                </div>
                
            </div>
        </div>
    </div>
</div>