<div [formGroup]="familyInfoForm">
    <section style="margin-top: 1rem;">
        <div class="container h-100" style="width: 100vw; margin-left: 1rem;">
            <div class="row d-flex h-100">
                <div class="col">
                    <!-- <h1 class="text-white mb-4">Apply for a job</h1> -->
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-md-2 py-1" style="background-color: lightsteelblue;">
                                    <label for="">UID</label>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control form-control-sm" formControlName="uidNum"/>
                                </div>
                            </div>
    
                            <!-- <hr class="mx-n3"> -->
    
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">First Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="fName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Landline No.</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="landline"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <hr class="mx-n3"> -->
    
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Middle Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="middleName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Mobile No.</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="mobile"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Last Name</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="lName"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Any Other</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="anyOther">
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Address Verification Document</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" formControlName="addressVerificationDocument">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of nationalIdDocType" [value]="item.id.nationalIdTypeCd">{{item.nationalIdType}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Document Number</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm" formControlName="documentNumber"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Relationship with the tenant</label>
                                        </div>
                                        <div class="col-md-8">
                                            <select class="form-control" formControlName="relationWithTenant">
                                                <option value="">Select</option>
                                                <option *ngFor="let item of relationType" [value]="item.id.relationTypeCd">{{item.relationType}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Application Submission Date (DD/MM/YY)</label>
                                        </div>
                                        <div class="col-md-8">
                                            <input type="text" class="form-control form-control-sm"
                                                value="{{formattedDate}}" disabled="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <hr>
    
                            <!-- Age panel tab -->
                            <app-age-panel></app-age-panel>
                            <!-- end -->
    
                            <hr>
    
                            <!-- File Upload -->
                            <div class="row align-items-center pt-2">
                                <div class="col">
                                    <div class="row">
                                        <div class="col-md-4 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Photo of the tenant</label>
                                        </div>
                                        <div class="col-md-8">
                                            <button (click)="fileUploadTab()">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-5 py-1" style="background-color: lightsteelblue;">
                                            <label for="">Scan copy of the identity Documents</label>
                                        </div>
                                        <div class="col-md-7">
                                            <button (click)="fileUploadTab()">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
    
                            <div class=" py-2" align="right">
                                <button class="btn btn-secondary btn-sm">Clear</button>
                            </div>
    
                            <hr>
    
                            <!-- Eform File Upload -->
                            <app-eform-file-upload></app-eform-file-upload>
                            <!-- end -->
    
                            <hr class="mx-n3">
    
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </section>
</div>
